@charset "UTF-8";

/* .content {
  margin-top: 72px;
} */

section.sub-content {
  width: 980px;
  margin: 72px auto 100px;
}

.sub-content h1.sub-title {
  font-size: var(--h3-size);
  text-align: center;
  margin-bottom: 40px;
}

.head-wrap nav {
  width: 980px;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 30px;
}

.head-wrap select {
  width: 180px;
  margin-left: 8px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  font-size: 17px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url(/image/icon-arrow-down.svg) no-repeat 89% 50%;
}
.head-wrap select:disabled {
  color: #adb5bd;
  background: #f8f9fa  url(/image/icon-arrow-down-off.svg) no-repeat 89% 50%;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-wrap .list-item {
  width: 201px;
  margin-bottom: 56px;
}

.list-wrap .list-item:nth-child(4n), 
.list-wrap .list-item:nth-child(3n) {

}

.list-wrap .list-item .list-info {
  margin-top: 12px;
}

.list-wrap .list-item .list-info > h4 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-wrap .list-item .list-info > h5 {
  font-size: 15px;
  margin-bottom: 4px;
}

.list-wrap .list-item .list-info > p,
.list-wrap .list-item .list-info span {
  font-size: 13px;
}

.list-wrap .list-item .list-info > p {
  margin-bottom: 4px;
}

.list-wrap .list-item .list-info span {
  color: var(--gray-color-10);
}

.list-wrap .list-item .list-info span:last-child::before {
  content: '∙';
  display: inline-block;
  color:var(--gray-color-10);
  margin-right: 5px;
}


.list-wrap .list-item .list-img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f8f9fa;
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 15%);
  box-sizing: border-box;
}

.list-wrap .list-item .list-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid transparent;
}

button {
  width: 180px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
