@charset "UTF-8";

.login-wrap {
  width: 100%;
  height: 900px;
  margin: 72px auto 100px;
  padding-top: 72px;
  background: top center / cover no-repeat url(/image/login-bg.jpg);
}

.login-form {
  width: 500px;
  margin: 0 auto;
}
.login-form label {
  display: block;
  font-size: 18px;
  margin: 20px 0 10px;
}

.login-form input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 10px;
  font-size: 17px;
}

.login-form input[type=checkbox] {
  width: auto;
  display: inline;
}

.login-form label.remember {
  width: auto;
  display: inline-block;
  margin-top: 10px;
}

.login-form button[type=submit] {
  display: block;
  width: 150px;
  margin: 15px 0;
  background-color: var(--point-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
}