footer {
  margin: 0 auto;
  margin-bottom: 150px;
  width: 100%;
  height: 394px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--footer-line-color);
}

.footer-upside {
  width: 783px;
  height: 50%;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 0 60px 0;
}

.ul-container {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin-right: 60px;
}

.ul-container li {
  padding-top: 10px;
  padding-bottom: 38px;
  font-size: var(--font-size-14);
}

.app-download-container {
  width: 45%;
  box-sizing: border-box;
}

.app-download-container > p {
  font-size: var(--font-size-14);
  font-weight: bold;
  margin-bottom: 12px;
}

.app-download-container button {
  width: 146px;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-size: var(--font-size-15);
  font-weight: bold;
}

.app-download-container button img {
  width: 20px;
  height: 20px;
  position: relative;
}

.app-download-container button span {
  display: inline-block;
  margin-left: 6px;
}

.footer-downside {
  width: 783px;
  height: 50%;
  border-top: 1px solid var(--footer-line-color);
  padding-top: 28px;
  display: flex;
}

.footer-downside__meta {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.gray {
  color: var(--gray-color-10);
}

.meta-info {
  font-size: var(--font-size-13);
  color: var(--gray-color-10);
  line-height: 18px;
}

.meta-inquiry {
  margin: 20px 0;
  font-size: var(--font-size-13);
  font-weight: bold;
  display: flex;
}

.meta-inquiry a:hover,
.meta-terms a:hover {
  text-decoration: underline;
}

.meta-inquiry > li > a {
  color: var(--gray-color-10);
  padding-right: 15px;
}

.meta-terms {
  display: flex;
  font-size: var(--font-size-13);
  font-weight: bold;
  justify-content: space-between;
}

.meta-terms a {
  color: var(--gray-color-10);
}

.meta-terms > li:nth-child(2) > a {
  color: var(--basic-color);
}

.footer-downside__social {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.footer-downside__social > img {
  width: 25px;
  height: 25px;
}

.social__national > img {
  width: 16px;
  height: 16px;
}

.social__national > select {
  border: none;
  color: var(--gray-color-10);
}
